* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
.light {
  display: flex;
  justify-content: space-between;
  background-color: lightseagreen;
  padding: 14px 20px;
  align-items: center;
}
.dark {
  display: flex;
  justify-content: space-between;
  background-color: darkseagreen;
  padding: 14px 20px;
  align-items: center;
}
.nav2 {
  display: flex;
  gap: 1rem;
}
.btn {
  margin-top: 1rem;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: coral;
  color: white;
  width: fit-content;
}
.btn:hover {
  text-decoration: underline;
}
